<div class="app-container" ng-controller="DefaultController" ng-cloak>
    <appheader></appheader>
    <div ng-if="!root.dob" class="dob-splash">
        <!-- <div>Enter ye postcode:</div>
            <input placeholder="Postcode" />-->
		<div class="splash-text" ng-controller="SplashController">
			<h1>Ahoy there, matey!</h1>
			<h2>Enter your date of birth:</h2>
            <select ng-model="birthdayInput.day" ng-selected="01" ng-options="day for day in getDaysInMonth(birthday.month)"></select>
			<select ng-model="birthdayInput.month" ng-options="shortMonth for shortMonth in getShortMonths()"></select>
            <h2>and your postcode (optional):</h2>
            <input ng-model="birthdayInput.postcode"></input>
			<br/>
			<div class="standard-button" ng-click="submitBirthday()">
				Plunder some Birthday Bounty!
			</div>
		</div>
    </div>
    <div ng-if="root.dob">
        <summary ng-controller="SummaryController"></summary>
        <appfooter></appfooter>
    </div>
</div>     
