<div class="footer-strip" ng-controller="DefaultController">
	<div class="footer-text">
		Created by <a target="_blank" href="http://www.lukehedin.com/">Luke Hedin</a>
		<div> 
			Bounty data collected with <a target="_blank" href="https://www.linkedin.com/in/andrew-gierens-638b727b">Andrew Gierens</a> and <a target="_blank" href="https://www.instagram.com/malitoburito/">Mali Lewis</a>. Special thanks to <a target="_blank" href="https://www.ozbargain.com.au/wiki/list_of_birthday_deals">OzBargain's Birthday Deals</a>.
		</div>
		<div> 
			Social icons designed by <a target="_blank" href="http://www.flaticon.com/authors/freepik">Freepik</a> of Flaticon. Bounty icons designed by <a target="_blank" href="http://www.flaticon.com/authors/madebyoliver">Madebyoliver</a> of Flaticon.
		</div>
		</br />
		<div>
			Want your business to appear on Birthday Bounty? Have a birthday deal you'd like to share?
			<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeONtf0EBM-ECOxhHTm23njnGEifvnweCwn9dSzUBDsrLg-vw/viewform?usp=sf_link">
				Click here to fill out our form.
			</a>
		</div>
		<br />
	</div>
</div>