<div class="footer-strip" ng-controller="DefaultController">
	<div class="footer-text container">
		<div class="bottom-nav col-xs-12">
			 <a href="#/">Home</a>
			| <a href="#/faq">Frequently Asked Questions</a>
			| <a href="#/privacy">Privacy Policy</a>
			| <a ng-click="root.clearBirthday()" href="#/">Clear Saved Details</a> 
			| <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeONtf0EBM-ECOxhHTm23njnGEifvnweCwn9dSzUBDsrLg-vw/viewform?usp=sf_link">Suggest an Offer</a>
			
		</div>
		<div class="bottom-nav col-xs-6">
			Created by <a target="_blank" href="http://www.lukehedin.com/">Luke Hedin</a>
			<br/>
			Bounty data collected with <a target="_blank" href="https://www.linkedin.com/in/andrew-gierens-638b727b">Andrew Gierens</a> and <a target="_blank" href="https://www.instagram.com/malitoburito/">Mali Lewis</a>.
			</br />
		</div>
		<div class="bottom-nav col-xs-6">
			Social icons designed by <a target="_blank" href="http://www.flaticon.com/authors/freepik">Freepik</a> of Flaticon.
			<br/>
			Bounty icons designed by <a target="_blank" href="http://www.flaticon.com/authors/madebyoliver">Madebyoliver</a> of Flaticon.
			<br/>
		</div>
	</div>
</div>