<div class="nav-strip moving-background" ng-controller="NavigationController">
	<div ng-if="root.savedUserDetails" class="container">
		<span class="nav-text row">
            <span class="nav-link col-xs-8" href="">
                Results for {{ root.savedUserDetails.bdayMonth }} {{ root.savedUserDetails.bdayDay }} near {{ root.getFormattedAddress() }}
            </span>
            <a style="text-align: right;" class="nav-link col-xs-4" ng-click="root.clearBirthday()" href="">
                Change <span class="hidden-xs">Address or Birthday</span>
            </a>
        </span>
	</div>
    <div ng-if="!root.savedUserDetails" class="container" style="text-align: center;">
        <a class="white-link" ng-click="root.clearBirthday()" href="#/">Click here </a>if you want to find freebies near you!
    </div>
</div>