<div class="nav-strip moving-background row">
	<div style="text-align: center;">
		<h3 class="col-xs-12">Shiver me timbers!</h3>
		<span class="col-xs-12">You could plunder {{ getPlunderValue() | currency }} worth of free Birthday Bounty!</span> 
	</div>
</div>
<div class="pale-gray-strip row">
	<div class="strip-inner">
		<div class="settings-control col-lg-5 col-md-5 col-sm-6 col-xs-10">
			<div class="settings-label"> 
				Bounty Types: 
			</div>
			<div class="settings-input">
				<div ng-repeat="bountyType in root.bountyTypes track by $index"> 
					<img ng-class="{ unselected: root.filters.includeTypes.indexOf(bountyType.id) === -1 }" class="bounty-type-icon toggle-bounty-type-button" ng-src="{{bountyType.iconPath}}" ng-click="toggleBountyType(bountyType.id)" 
					ng-mouseenter="root.getTip($event, 300, bountyType.name)"/> 
				</div>
			</div>
		</div>
        <div class="settings-control col-lg-3 col-md-3 hidden-sm hidden-xs">
			<div class="settings-label"> 
				Sort By: 
			</div>
			<div class="settings-input"> 
				<select ng-model="root.filters.sortBy" ng-options="getSorterString(sorter) for sorter in root.sorters" ng-change="filterBountyData()"></select>
			</div>
		</div>
		<div class="settings-control col-lg-2 col-md-2 hidden-sm hidden-xs">
			<div class="settings-label"> 
				Available On:
				<div class="bounty-mini-label" ng-mouseenter="root.getTip($event, 0, 'Available On','Many bounty offers are available to you days before your birthday.<br/>Some are even available for your whole birthday month!')">?</div> 
			</div>
			<div class="settings-input"> 
				<select ng-model="root.filters.availableMonth" ng-options="shortMonth for shortMonth in root.getShortMonths()" ng-change="filterBountyData()" ></select> 
				<select ng-model="root.filters.availableDay" ng-options="day for day in root.getDaysInMonth(root.filters.availableMonth)" ng-change="filterBountyData()"></select>
			</div>
		</div>
		<div class="settings-control col-lg-2 col-md-2 col-sm-6 col-xs-2"> 
		    <a class="standard-button" href="#/map"> 
			    View Map 
			</a>
		</div>
	</div>
</div>
<div class="content-wrapper">
	<div ng-if="filteredBountyData.length > 0">
		<div ng-repeat="bountyItem in filteredBountyData track by $index">
			<div class="bounty-thumbnail col-lg-4 col-sm-6" ng-click="bountyItemClicked(bountyItem)">
				<span class="bounty-thumbnail-image" ng-style="{ 'background-image': !!bountyItem.thumbnail ? 'url(images/bountypix/' + bountyItem.thumbnail + ')' : ''}"> 
					<div class="bounty-types" ng-repeat="typeId in bountyItem.types.slice().reverse() track by $index">
						<img style="right: {{ 5 + ($index * 11)}}%;" class="bounty-thumbnail-icon" ng-src="{{root.getTypeById(typeId).iconPath}}" />
					</div>
				</span> 
				<div>
					<div class="bounty-thumbnail-title">
						<h1>{{ bountyItem.organisation.name }}</h1>
					</div>
					<div class="bounty-thumbnail-subtitle-left">
						{{ bountyItem.title }}
						<div ng-if="isNew(bountyItem)" class="bounty-mini-label">
							NEW
						</div>
					</div>
					<div class="bounty-thumbnail-subtitle-km">
						{{ getDistanceToItem(bountyItem) | number : 1 }}km</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 bounty-summary-message">
		Showing {{ filteredBountyData.length }} offers within {{ root.filters.maxKm }}km.
		<div ng-if="moreBountyFurther">
			<br/>
			<a class="standard-button" ng-click="setMaxKm(root.filters.maxKm * 10)">Expand your search area to {{ root.filters.maxKm * 10 }}km.</a>
			<br/>
		</div>
		<div ng-if="!moreBountyFurther" ng-if="root.bountyData.length > filterBountyData.length">
			Check back for more soon.
			<div>
				Want to try a different birthday or address? <a href="" ng-click="root.clearBirthday()">Click here</a> to change.			
			</div>
		</div>
	</div>
</div>