<div class="content-wrapper container" ng-controller="SummaryController">
	<div ng-if="root.filteredData.length > 0">
		<div ng-repeat="bountyItem in root.filteredData track by $index">
			<div ng-if="root.getDistanceToNearestLocation(bountyItem) < 50" class="bounty-item-summary-container col-lg-4 col-sm-6 col-xs-12">
				<a class="bounty-thumbnail" ng-href="{{ '#/bounty?bountyId=' + bountyItem.bountyId; }}">
					<span class="bounty-thumbnail-image" ng-style="{ 'background-image': !!bountyItem.thumbnail ? 'url(images/bountypix/' + bountyItem.thumbnail + ')' : ''}"> 
						<div class="bounty-types" ng-repeat="typeId in bountyItem.types.slice().reverse() track by $index">
							<img style="right: {{ 5 + ($index * 11)}}%;" class="bounty-thumbnail-icon" ng-src="{{root.getTypeById(typeId).iconPath}}" />
						</div>
					</span> 
					<div class="row">
						<div class="bounty-thumbnail-title col-xs-12">
							<h1>{{ bountyItem.organisation.name }}</h1>
						</div>
						<div class="bounty-thumbnail-subtitle-left col-xs-9">
							{{ bountyItem.title }}
							<div ng-if="isNew(bountyItem)" class="bounty-mini-label">
								NEW
							</div>
						</div>
						<div class="bounty-thumbnail-subtitle-km col-xs-3">
							{{ getDistanceToItem(bountyItem) | number : 1 }}km</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 bounty-summary-message">
		Showing bounty within 50km. Check back for more soon.
		<div>
			Want to try a different birthday or address? <a href="" ng-click="root.clearBirthday()">Click here</a> to change.			
		</div>
	</div>
</div>