@media screen and (orientation:portrait){
    .bounty-map-container {
      height: 40vh;
    }

    .bounty-summary-items-container{
        width: 100%;
        float: left;
        padding-left: 20px;
        padding-top: 32px;
    }
}