body {
	margin: 0;
}

html {
  background-color: #fff;
}

select, input{
  outline: none;
  border: 1px solid #a9a9a9;
}

select:focus, input:focus {
  border: 1px solid #ee5588;
  box-shadow: 0 0 2px #ee5588;
}

.app-container{
  min-width: 600px;
}

/*Splash screen*/
.dob-splash{
  width: 100vw;
  text-align: center;
  background-color: #ff6699;
  background-image: url(../images/background-trans.svg);
  color: white;
  font-family: 'Didact Gothic', sans-serif;    
  padding: 40px 0 40px 0;  
}

/*Keeping things inside 80vw*/
.content-wrapper, .top-navigation-bar, .feature-strip .feature-text, .footer-strip .footer-text, .bounty-summary-settings{
  min-width: 600px;
  max-width: 1100px;
  width: 80vw;
  margin: auto;
}

/*Top Nav Bar*/
.top-navigation-bar {
  height: 80px;

  text-align: center;
  background-color: white;
  color: #ff6699;;
}

.top-navigation-bar .logo-text{
  float: left;
  font-family: 'Caveat Brush', cursive;
  font-size: 32px;
  line-height: 28px;
  padding-top: 10px;
}

.top-navigation-bar .flag-icon{
  height: 52px;
  margin: 10px;
  float: left;
}

.top-navigation-bar .nav-right{
  float: right;
  font-size: 18px;
  font-family: 'Didact Gothic', sans-serif; 
  font-size: 12px;
  text-align: right;
}

.nav-right .tagline{
  margin-top: 15px;
}

.nav-right .standard-button{
  font-size: 12px;
}

/*feature-strip & footer*/
.feature-strip, .footer-strip {
  background-color: #ff6699; 
  background-image: url(../images/background-trans.svg);
  background-position: 0px 0px;
  background-repeat: repeat-x;
}

.feature-strip, .footer-strip{
  text-align: center;
  color: white;
  font-family: 'Didact Gothic', sans-serif;  
}

.feature-strip{
  font-size: 22px;
  padding: 30px 0 30px 0;
}

.footer-strip {
  margin: 20px 0 0 0;
  padding: 20px 0 20px 0;
  font-size: 16px;
}

.footer-strip a {
  color: white;
  text-decoration: underline;  
}

.footer-strip a:hover{
  color: white;
  text-decoration: none;  
}

.footer-text div{
  font-size: 12px;
}

/*Window controls*/
.whole-page-mask{
  background-color: rgba(105, 105, 105, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
}

.mobile-window{
  background-color: white;
  border: 2px solid #ee5588;
  width: 90%;
  margin: 5%;
  height: 90%;
  font-size: 32px;
  overflow: scroll;
  padding: 20px;
}

.close-window-button{
  bottom: 0;
  width: 50%;
}

/*GoogleMap*/
.bounty-marker{
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat;
}

.bounty-marker:hover{
  z-index: 99;
}

.bounty-marker-tooltip {
    position:absolute;
    font-family: 'Didact Gothic', sans-serif;  
    background-color:white;
    color: #797876;
    border: 1px solid #797876;
    padding: 2px;
}

.bounty-map-container {
  position: relative;
  background-color: #f2f2f2;
  width: 100%;
  height: 50vh;
}

.bounty-map-mini-container{
  position: relative;
  width: 100%;
  height: 200px;
}

.bounty-map{
  width: 100%;
  height: 100%; 
}

.map-view-button{
  position: absolute;
  margin: 5px;
  width: 100px;
  top: 0;
  left: 0;
}

.plunder-options{
  bottom: 0;
  right: 0;

  width: 340px;

  position: absolute;
  color: #444444;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #bcbbbb;
  margin: 2px;
  padding: 2px;
  z-index: 999; 
}

.reset-filters-button{
  width: 50%;
}

.option-label{
  text-align: right;
  float: left;
  font-size: 0.8em;
  font-size: 18px;
  line-height: 40px;
  margin: 0 5px;
}

.bounty-type-icon {
  width: 36px;
  height: 36px;
  margin: 2px;
}

.toggle-bounty-type-button{
  float: left;
  cursor: pointer;
}

.unselected, .disabled{
  opacity: 0.3;
}

.disabled{
  pointer-events:none;
}

/* Birthday Input */
.birthday-input{
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
}

.plunder-button{
  border: 1px solid #ee5588;
  width: 150px;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
  background-color: #ff6699;
}

.plunder-button:hover{
  background-color: #ee5588;
}

.dob-splash select, .dob-splash input{
  color: black;
  min-width: 50px;
  margin: 6px;
}

.dob-splash .standard-button{
  display: inline-block;
}

/* Bounty summary*/
.standard-button{
  color: #ee5588;
  border: 1px solid #ee5588;
  background-color:white;
  
  text-align: center;
  padding: 5px;
}

.standard-button:hover{
  color:white;
  border: 1px solid white;
  background-color:#ee77aa;

  text-decoration: none;
  cursor: pointer;
}

.standard-button:active{
  background-color:#ee5588;
}

.no-bounty-message{
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;    
  color: #797876;
  margin: 30px 0 30px;
}

.bounty-summary-container{
  width: 100%;
  min-height: 80vh;
  display: inline-block;
}

.bounty-summary-left{
  width: 30%;
  float: left;
}

.page-controls{
  display: inline-block;
  width: 100%;
}

.page-controls div {  
  width: 60%;
  text-align: center;
  float:left;
}

.page-controls .standard-button {  
  width: 20%;
}

.content-wrapper{
  overflow: auto;
  font-family: 'Didact Gothic', sans-serif; 
  color: #797876;
}

.content-wrapper h2{
  font-weight: bold;
  margin: 0;
}

.content-wrapper hr{
  margin: 7px 0;
}

.summary-settings-container{
  background-color: #f3f3f3;
  padding: 10px 0;
  overflow: auto;
}

.bounty-summary-map-mini, .bounty-map-container, .bounty-summary-settings, .bounty-summary-plunder{
  font-family: 'Didact Gothic', sans-serif;    
  color: #797876;
}

.settings-control{
  width: 25%;
  float: left;
}

.settings-control .standard-button{
  float: right;
  margin-top: 15px;
  margin-right: 5px;
}

.settings-label{
  font-weight: bold;
  padding-bottom:5px;
  color: #717171;
}

.settings-input{
  width: 100%;
  display: inline-block;
}

.settings-input input{
  margin-bottom: 5px;
}

.filter-value input{
  max-width: 50px;
}

.bounty-summary-items-container{
  width: 100%;
  padding-left: 20px;
  padding-top: 22px;
}

.bounty-thumbnail h1{
  font-family: 'Didact Gothic', sans-serif;  
  color: #ee5588;
  font-size: 20px;
  margin: 0;
  font-weight: 10;
}

.bounty-thumbnail{
  cursor: pointer;
  height: 200px;
  font-family: 'Didact Gothic', sans-serif;  
  color: #797876;
  margin-bottom: 30px;
}

.bounty-thumbnail:hover{
  opacity: 0.8;
}

.bounty-thumbnail-details-left{
  display: inline-block;
  width: 80%;
}

.bounty-thumbnail-details-right{
  display: inline-block;  
  width: 20%;
  text-align: right;
}

.bounty-thumbnail-image{
  height: 150px;
}

.bounty-feature-image{
  height: 300px;
}

.bounty-thumbnail-image, .bounty-feature-image{
  display: block;
  width: 100%;
  background: #F5F7F9 url(../images/background-trans.svg) no-repeat 50% 50%;
  background-size: cover;
  border-radius: 10px;
}

.bounty-thumbnail-icon{
  border-radius: 50%;
  background-color: white;
  border: 5px solid white;
  width: 12%;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.bounty-summary-row hr {
  margin: 16px 0;
}


.bounty-item-org-social a:hover{
  color: #ee5588;
}

.social-button, .condition-icon{
  width: 32px;
  height: 32px;
  padding: 2px 4px 4px 0;
}

.bounty-summary-row .bounty-item-left-details{
  width: 80%;
  float: left;
}

.bounty-summary-row .bounty-item-right-details{
    width: 20%;
    float: right;
    text-align: right;
}

.bounty-types div {
  width: 0px; /*change this to 10px to get cool effect*/
  overflow: visible;
  float: right;
}

.bounty-summary-row .bounty-types .bounty-type-icon {
  float: right;
}

.bounty-summary-row .condition-list{
  width: 100%;
  display: inline-block;
}

.condition-icon svg {
  fill: #ee5588;
}

/* My Plunder */
.bounty-summary-plunder{
  overflow: auto;
}

.my-plunder-item{
  margin: 5px 0 5px 0;
}

.my-plunder-item .my-plunder-item-left{
  width: 80%;
  float: left;
}

.my-plunder-item .my-plunder-item-right{
  width: 20%;
  float: right;
}

.plunder-total{
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}