html{
  overflow-y: scroll; 
}

body {
  background-color: #f3f3f3 !important;
}

select, input{
  outline: none;
  border: 1px solid #a9a9a9;
}

select:focus, input:focus {
  border: 1px solid #ee5588;
  box-shadow: 0 0 2px #ee5588;
}

.root-view{
  min-height: 80vh;
  background-color: #fff;
}

.white-link{
  color: white;
  text-decoration: none;
}

.white-link:hover{
  color:white;
}

/*Splash screen*/
.dob-splash{
  text-align: center;
  background-color: #ff6699;
  background-image: url(../images/background-trans.svg);
  color: white;
  font-family: 'Didact Gothic', sans-serif;    
  height: 100vh;
  min-height: 400px;
  max-height: 800px;
  padding-top: 20vh;
}

.splash-info {
  padding: 20px 0;
  text-align: center;
}

.splash-info-title{
  font-family: 'Didact Gothic', sans-serif; 
  color: #ff6699;
  font-weight: bold;
}

.splash-type-info {
  height: 180px;
  text-align: center;
}

.splash-type-title{
  line-height: 16px;
  padding-left: 5px;
}

/*Top Nav Bar*/
.header-strip, .nav-strip{
  position: fixed;
  z-index: 10;
  width: 100%;

-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.nav-strip{
  margin-top: 80px;
}

.nav-text, .nav-link{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-strip {
  height: 80px;
  text-align: center;
  background-color: white;
  color: #ff6699;
}

.header-strip .logo-text{
  float: left;
  font-family: 'Caveat Brush', cursive;
  color: #ff6699;
  font-size: 32px;
  line-height: 28px;
  padding-top: 10px;
}

.logo-text:hover, .flag-icon:hover{
  cursor: pointer;
  opacity: 0.7;
}

.header-strip .flag-icon{
  height: 60px;
  margin: 10px 0;
  float: left;
}

.nav-right{
  float: right;
}

.header-strip .nav-right{ 
  font-size: 18px;
  font-family: 'Didact Gothic', sans-serif; 
  font-size: 12px;
  text-align: right;
}

.nav-right .tagline{
  margin-top: 15px;
}

.nav-right a{
  font-size: 12px;
  margin-left: 10px;
}

.nav-right .standard-button{
  font-size: 12px;
  margin-top: 10px;
  padding: 5px;
}

/*nav-strip & footer*/
.nav-strip {
  padding: 10px 0;
}

.nav-strip, .footer-strip {
  background-color: #ff6699; 
  background-image: url(../images/background-trans.svg);
  background-position: 0px 0px;
  background-repeat: repeat-x;
}

.nav-strip, .footer-strip, .nav-link, .nav-link:hover{
  color: white;
  font-family: 'Didact Gothic', sans-serif;  
}

.footer-strip {
  text-align: center;
  padding: 5px 0 5px 0;
  font-size: 16px;
}

.footer-strip a {
  color: white;
  text-decoration: underline;  
}

.footer-strip a:hover{
  color: white;
  text-decoration: none;  
}

.footer-text div{
  font-size: 12px;
}

.bottom-nav{
  margin-bottom: 15px;
}

/*GoogleMap*/
.bounty-marker{
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat;
}

.bounty-marker:hover{
  z-index: 99;
}

.birthday-bounty-tooltip {
    z-index: 100;
    position:absolute;
    font-family: 'Didact Gothic', sans-serif;  
    background-color:white;
    color: #797876;
    border: 1px solid #797876;
    padding: 2px;
}

.map-view-button{
  position: absolute;
  margin: 5px;
  width: 100px;
  top: 0;
  left: 0;
}

.option-label{
  text-align: right;
  float: left;
  font-size: 0.8em;
  font-size: 18px;
  line-height: 40px;
  margin: 0 5px;
}

.bounty-type-icon {
  width: 36px;
  height: 36px;
  margin: 2px;
}


@media screen and (max-width: 767px) {
  .bounty-type-icon{
    width: 32px;
    height: 32px;
    margin: 1px;
  }
}

.toggle-bounty-type-button{
  float: left;
  cursor: pointer;
}

.unselected, .disabled{
  opacity: 0.3;
}

.disabled{
  pointer-events:none;
}

/* Birthday Input */
.birthday-input{
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
}

#addressField{
  max-width: 400px;
  width: 80%;
}

.dob-splash select, .dob-splash input{
  color: black;
  margin: 6px;
}

.dob-splash .standard-button{
  display: inline-block;
}

/* Bounty summary*/
.standard-button{
  color: #ee5588;
  border: 1px solid #ee5588;
  background-color:white;
  
  text-align: center;
  padding: 5px;
}

.standard-button:hover{
  color:white;
  border: 1px solid white;
  background-color:#ee77aa;

  text-decoration: none;
  cursor: pointer;
}

.standard-button:active{
  background-color:#ee5588;
}

.bounty-summary-message{
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;    
  color: #797876;
  margin: 30px 0 30px;
}

.bounty-summary-left{
  width: 30%;
  float: left;
}

.content-wrapper{
  min-height: 90vh;
  padding-top: 140px;
  padding-bottom: 20px;
  overflow: auto;
  font-family: 'Didact Gothic', sans-serif; 
  color: #797876;
  background-color: #fff;
}

.content-wrapper h2{
  font-weight: bold;
  margin: 0;
}

.content-wrapper hr{
  margin: 7px 0;
}

.filter-strip{
  color: #797876;
  font-size: 14px;
  padding-bottom: 20px;
  font-family: 'Didact Gothic', sans-serif;
}

.settings-control{
  float: left;
}

.settings-control .standard-button{
  float: right;
  margin-top: 15px;
}

.settings-label{
  font-weight: bold;
  padding-bottom:2px;
  color: #717171;
}

.settings-input{
  width: 100%;
  display: inline-block;
}

.settings-input input{
  margin-bottom: 5px;
}

.filter-value input{
  max-width: 50px;
}

.bounty-item-summary-container {
  margin-bottom: 20px;
  cursor: pointer;
}

.bounty-thumbnail h1{
  font-family: 'Didact Gothic', sans-serif;  
  color: #ee5588;
  font-size: 19px;
  margin: 0;
  font-weight: bold;
}

.bounty-thumbnail, .bounty-thumbnail:hover{
  height: 220px;
  font-family: 'Didact Gothic', sans-serif;  
  color: #797876;
  text-decoration: none;
}

.bounty-thumbnail-image{
  height: 150px;
}

.bounty-item-summary-container:hover{
  opacity: 0.8;
  text-decoration: none;
}

.bounty-thumbnail-title{
  padding: 5px 0;
}

.bounty-thumbnail-subtitle-km{
  text-align: center;
}

.bounty-feature-image, .bounty-map-for-item{
  height: 300px;
}

.bounty-map-for-item{
  margin-top: 20px;
}

.bounty-full-map{
  height: 60vh;
  min-height: 400px;
}

.bounty-thumbnail-image, .bounty-feature-image, .bounty-map-container {
  display: block;
  background: #F5F7F9 url(../images/background-trans.svg) no-repeat 50% 50%;
  background-size: cover;
  border-radius: 10px;
}

.bounty-thumbnail-icon{
  border-radius: 50%;
  background-color: white;
  border: 5px solid white;
  width: 12%;
  max-width: 48px;
  position: absolute;
  right: 5%;
  top: 134px;
}

.bounty-mini-label{
  color: white;
  padding: 0 4px;
  background-color: #ee5588;
  font-size: 10px;
  border-radius: 2px;
  display: inline;
  vertical-align: middle;
  cursor: default;
}

.bounty-summary-row hr {
  margin: 16px 0;
}

.bounty-viewing-item-org{
  line-height: 42px;
}

.bounty-viewing-item-title{
  margin-top: 0;
  margin-bottom: 10px;
}

.bounty-item-details b, .nearest-organisation-info b{
  width: 140px;
  display: block;
}

.bounty-item-details img, .bounty-item-details span{
  margin: 0 5px;
  display: inline;
  float: left;
}

.nearest-organisation-info{
  min-height: 100px;
}

.nearest-organisation-info div{
  margin: 10px 0;
}

.bounty-item-org-social{
  text-align: right;
}

.bounty-item-org-social a:hover{
  color: #ee5588;
  text-decoration: none;
}

.social-button, .condition-icon{
  width: 32px;
  height: 32px;
}

.bounty-types div {
  width: 0px; /*change this to 10px to get cool effect*/
  overflow: visible;
  float: right;
}

.bounty-summary-row .bounty-types .bounty-type-icon {
  float: right;
}

.bounty-summary-row .condition-list{
  width: 100%;
  display: inline-block;
}

.condition-icon svg {
  fill: #ee5588;
}

#bountyMapContainer{
  height: 100%;
  width: 100%;
}

/*FAQ*/
.faq-item h4{
  color: #ff6699;
  font-weight: bold;
  font-size: 19px;
}

.faq-item span{
  font-size: 16px;
}