body {
	margin: 0;
}

html {
  background-color: #fff;
}

select, input{
  outline: none;
  border: 1px solid #a9a9a9;
}

select:focus, input:focus {
  border: 1px solid #ee5588;
  box-shadow: 0 0 2px #ee5588;
}

/*Splash screen*/
.dob-splash{
  width: 100vw;
  text-align: center;
  background-color: #ff6699;
  background-image: url(../images/background-trans.svg);  
  color: white;
  font-family: 'Didact Gothic', sans-serif;    
  padding: 40px 0 40px 0;  
}

.dob-splash input{
  color: black;
}

.dob-splash .standard-button{
  display: inline-block;
}

/*Keeping things inside 80vw*/
.content-wrapper, .top-navigation-bar, .birthday-summary-strip .summary-text, .footer-strip .footer-text{
  min-width: 800px;
  max-width: 1100px;
  width: 80vw;
  margin: auto;
}

/*Top Nav Bar*/
.top-navigation-bar {
  height: 80px;

  text-align: center;
  background-color: white;
  color: #ff6699;;
}

.top-navigation-bar .logo-text{
  float: left;
  font-family: 'Caveat Brush', cursive;
  font-size: 32px;
  line-height: 28px;
  padding-top: 10px;
}

.top-navigation-bar .flag-icon{
  height: 52px;
  margin: 10px;
  float: left;
}

.top-navigation-bar .navigation-menu{
  float: right;
  font-size: 18px;
  font-family: 'Didact Gothic', sans-serif; 
  text-align: right;
}

/*Summary strip*/
.birthday-summary-strip{
  margin: 0 0 40px 0;
  font-size: 22px;
  padding: 30px 0 30px 0;
}

.footer-strip {
  margin: 20px 0 0 0;
  padding: 20px 0 20px 0;
  font-size: 16px;
}

.footer-strip a {
  color: white;
  text-decoration: underline;  
}

.footer-strip a:hover{
  color: white;
  text-decoration: none;  
}

.birthday-summary-strip, .footer-strip {
  background-color: #ff6699; 
  background-image: url(../images/background-trans.svg);
}

.birthday-summary-strip, .footer-strip{
  text-align: center;
  color: white;
  font-family: 'Didact Gothic', sans-serif;  
}

/*Mobile Controls*/
.mobile-controls{
  width: 100%;
  text-align: center;
}

.mobile-controls .standard-button{
  margin: 20px;
  padding: 20px;
  display: inline-block;
  width: 40%;
}

.mobile-window{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90vw;
  margin: 5vh 5vw 5vh 5vw;
  height: 90vh;
  background-color: white;
  border: 2px solid #ee5588;
}

/*GoogleMap*/
.bounty-marker{
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat;
}

.bounty-marker:hover{
  z-index: 99;
}

.bounty-marker-tooltip {
    position:absolute;
    font-family: 'Didact Gothic', sans-serif;  
    background-color:white;
    color: #797876;
    border: 1px solid #797876;
    padding: 2px;
}

.bounty-map-container {
  position: relative;
  background-color: #f2f2f2;
  width: 100%;
  height: 80vh;
}

.bounty-map-mini-container{
  position: relative;
  width: 100%;
  height: 200px;
}

.bounty-map{
  width: 100%;
  height: 100%; 
}

.map-view-button{
  position: absolute;
  margin: 5px;
  width: 100px;
  top: 0;
  left: 0;
}

.plunder-options{
  top: 0;
  right: 0;

  position: absolute;
  color: #444444;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #bcbbbb;
  margin: 2px;
  padding: 2px;
  width: 260px;
  z-index: 999; 
}

.plunder-board-details{
  margin: 0 20px 0 10px;
  text-align: left;
  height: 100%;
}

.option-label{
  width: 80px;
  text-align: right;
  float: left;
  font-size: 0.8em;
  line-height: 28px;
  margin: 0 5px;
}

.bounty-type-icon {
  width: 28px;
  height: 28px;
  margin: 0 2px;
}

.toggle-bounty-type-button{
  float: left;
  cursor: pointer;
}

.unselected{
  opacity: 0.3;
}

/* Birthday Input */
.birthday-input{
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
}

.plunder-button{
  border: 1px solid #ee5588;
  width: 150px;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
  background-color: #ff6699;
}

.plunder-button:hover{
  background-color: #ee5588;
}

.input-field{
  width: 50px;
  margin: 6px;
}

/* Bounty summary*/
.standard-button{
  color: #ee5588;
  border: 1px solid #ee5588;
  background-color:white;
  
  text-align: center;
  padding: 5px;
}

.standard-button:hover{
  color:white;
  border: 1px solid white;
  background-color:#ee5588;

  text-decoration: none;
  cursor: pointer;
}

.no-bounty-message{
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;    
  color: #797876;
  margin: 30px 0 30px;
}

.bounty-summary-container{
  width: 100%;
  display: inline-block;
}

.bounty-summary{
  width: 30%;
  float: left;
}

.content-wrapper h4{
  font-family: 'Didact Gothic', sans-serif;    
  color: #797876;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.content-wrapper hr{
  margin: 7px 0;
}

.bounty-summary-map-mini, .bounty-map-container, .bounty-summary-settings, .bounty-summary-plunder{
  font-family: 'Didact Gothic', sans-serif;    
  color: #797876;
  margin-bottom: 40px;
}

.settings-label{
  font-weight: bold;
  padding-bottom:10px;
}

.settings-input{
  padding: 0px 0px 20px 10px;
  width: 100%;
  display: inline-block;
}

.settings-input input{
  max-width: 130px;
}

.bounty-summary-items-container{
  width: 70%;
  float: left;
  padding-left: 20px;
  padding-top: 32px;
}

.bounty-summary-row{
  font-family: 'Didact Gothic', sans-serif;  
  color: #797876;
  margin: 0 5px 20px 5px;
}

.bounty-summary-row hr {
  margin: 16px 0;
}

.bounty-item-header{
  background-color: #ee5588;
  color: white;
  padding: 5px;
}

.bounty-item-org-name {
  margin: 0;
  font-size: 24px;
  display: inline-block;
}

.toggle-plunder-button{
  width: 170px;
  font-size: 15px;
  float: right;
}

.bounty-item-org-social{
  float: right;
}

.bounty-item-org-social a:hover{
  color: #ee5588;
}

.social-button, .condition-icon{
  width: 32px;
  height: 32px;
  padding: 2px 0 4px 0;
}

.bounty-summary-row .bounty-item-left-details{
  width: 80%;
  float: left;
}

.bounty-summary-row .bounty-item-right-details{
    width: 20%;
    float: right;
    text-align: right;
}

.bounty-types div {
  width: 10px;
  overflow: visible;
  float: right;
}

.bounty-summary-row .bounty-types .bounty-type-icon {
  float: right;
}

.bounty-summary-row .condition-list{
  width: 100%;
  display: inline-block;
}

.condition-icon svg {
  fill: #ee5588;
}

/* My Plunder */
.my-plunder-item{
  margin: 5px 0 5px 0;
}

.my-plunder-item .my-plunder-item-left{
  width: 80%;
  float: left;
}

.my-plunder-item .my-plunder-item-right{
  width: 20%;
  float: right;
}

.plunder-total{
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}